.bg-tagline {
    position: relative;
    background: url('../../../IMG/Landingpage/Tagline/bgLanding.jpg');
    background-size:cover;
    min-height: 100vh;
    background-position: center;
}

.tagline {
    background: rgba(255, 255, 255, 0.3)
}