@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap');

.all-nav {
    font-weight: bolder;
    margin: 0px 20px
}

.navbar-center {
    flex: 1;
    direction: column;
    margin: auto;
    display: flex;
}

.link-nav {
    margin: 0px 10px;
    background: white
}

.link-nav:hover {
    background: #b0b4b2;
    color: white!important;
}

.link-logo.mobile {
    margin: 10px;
    padding-left: 20px;
}

.set-logocenter {
    position: absolute;
    left: 0; 
    right: 0;
    top: 0;
    margin-right: auto;
    margin-left: auto;
    width: 300px
}

.toggle-nav {
    background: white;
    border: 2px solid black;
    margin-right:20px;
}

.dropdown-nav {
    margin: 0px 10px;
    background: white;
    border: none;
}

.dropdown-nav:hover {
    background: #b0b4b2;
    color: white;
}

.transition-scroll {
    transition: all 1s ease!important;
}



@media only screen and (max-width: 768px){
    .all-nav {
        margin-right: 15px;
    }

    .img-fluid {
        width: 140px
    }

    .link-nav {
        border:none;
        padding-left: 20px!important;
    }

    .link-nav:hover {
        border:none;
    }

    .dropdown-nav {
        border:none;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
    }

    .dropdown-nav:hover {
        border:none;
    }

}

@media only screen and (min-width: 768px){
    .img-fluid {
        width: 150px
    }
    .fa-stack[data-count]:after{
        position:absolute;
        right:2.9%;
        top:25%;
        content: attr(data-count);
        font-size:70%;
        padding:.6em;
        border-radius:50%;
        line-height:.75em;
        color: white;
        background:rgba(255,0,0,.85);
        text-align:center;
        min-width:2em;
        font-weight:bold;
    }
}